body {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin-left: 20px;
}
@media (min-width:768px) {
    body {
        font-family: 'Roboto', sans-serif;
        padding: 40px;
        margin-left: 40px;
    }
}
.heads {
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    flex-direction: column;
    /*border: 1px solid black;*/
}
.Tvelia {
    display: flex;
    position: absolute;
    width: 133px;
    height: 56px;
    font-size: 32px;
    align-items: center;
    line-height: 56px;
    font-weight: 900;
    font-style: normal;
    /*border: 1px solid black;*/
}
@media (min-width:768px) {
    .Tvelia {
        display: flex;
        position: absolute;
        width: 133px;
        height: 56px;
        font-size: 48px;
        align-items: center;
        line-height: 56px;
        font-weight: 900;
        font-style: normal;
        /*border: 1px solid black;*/
    }
}
.mobile-menu {
    position: relative;
    display: flex;
    top: 20px;
    left: 95%;
}
@media (min-width:1024px) {
    .mobile-menu {
        position: relative;
        display: none;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .mobile-menu {
        position: relative;
        display: flex;
        left: 95%;
    }
}
.mobile-menu:hover {
    cursor: pointer;
}
.right-menu {
    display: none;
}
@media (min-width:1024px) {
    .right-menu {
        position: absolute;
        display: flex;
        height: 60px;
        font-weight: bold;
        align-items: center;
        margin-left: 45%;
        justify-content: space-around;
        /*border: 1px solid black;*/
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .right-menu {
        position: absolute;
        display: none;
        width: 70%;
        height: 60px;
        font-weight: bold;
        align-items: center;
        margin-left: 30%;
        justify-content: space-around;
        /*border: 1px solid black;*/
    }
}
.menu-top {
    display: flex;
}
@media (min-width:768px) {
    .menu-top {
        position: absolute;
        display: flex;
        width: 70%;
        height: 60px;
        margin-left: 40%;
        font-weight: bold;
        align-items: center;
        justify-content: space-between;
        /*border: 1px solid black;*/
    }
}
.home {
    color: black;
    opacity: 0,5;
    margin-right: 50px;
    transition: all 0.5s;
}
.menu-top a{
    transition: all 0.5s;
}
.menu-top a:hover{
    text-decoration: underline 3px #ff5300;
    letter-spacing: 0px;
}
.home-1 {
    margin-right: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    opacity: 0.5;
    color: #1D1B19;
}

a {
    text-decoration: none;
    color: black;
    opacity: 0,5;
}

.p1::first-letter {
    color: #FF5300;
}
h1 {
    width: 200px;
    margin-left: 10px;
}
@media (min-width:768px) {
    h1 {
        margin-top: 100px;
        margin-bottom: 10px;
        width: 600px;
    }
}
h2 {
}
@media (min-width:768px) {
    h2 {
        text-align: center;
    }
}
.para-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    opacity: 0.5;
    margin-bottom: 40px;
    color: #1D1B19;
}
.Play {
    position: relative;
    display: flex;
    width: 80px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 5%;
    flex-direction: row;
    /*border: 1px solid black;*/
}
@media (min-width:768px) {
    .Play {
        position: relative;
        display: flex;
        width: 130px;
        height: 50px;
        margin-bottom: 20px;
        flex-direction: row;
        /*border: 1px solid black;*/
    }
}

.ellipse {
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    /*border: 1px solid black;*/
}
@media (min-width:768px) {
    .ellipse {
        position: relative;
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        /*border: 1px solid black;*/
    }
}
@media (min-width:768px) and (max-width:768px) {
    .ellipse {
        position: relative;
        display: none;
        width: 50px;
        height: 50px;
        align-items: center;
        /*border: 1px solid black;*/
    }
}
.ellipse-1 {
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
}
@media (min-width:768px) {
    .ellipse-1 {
        position: absolute;
        display: flex;
        width: 50px;
        height: 50px;
    }
}
.play-video {
    position: absolute;
    display: flex;
    width: 100%;
    height: 20px;
    margin-left: 30%;
    align-items: center;
    flex-direction: row;
    font-size: 14px;
    /*border: 1px solid black;*/
}
@media (min-width:768px) {
    .play-video {
        position: absolute;
        display: flex;
        width: 80px;
        height: 50px;
        margin-left: 60px;
        align-items: center;
        flex-direction: column;
        /*border: 1px solid black;*/
    }
}

.travel {
    position: relative;
    display: flex;
    width: 220px;
    height: 80px;
    flex-direction: row;
    /*border: 1px solid black;*/
}
@media (min-width:768px) {
    .travel {
        position: relative;
        display: flex;
        width:50%;
        height: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: row;
        /*border: 1px solid black;*/
    }
}
.vector {
    position: relative;
    display: flex;
    width: 50px;
    height: 60px;
    /*border: 1px solid black;*/
}
.vector-1 {
    position: absolute;
    display: flex;
    height: 70%;
}
.paragraphs {
    position: relative;
    display: flex;
    width: 180px;
    height: 80px;
    margin-left: 20px;
    line-height : 0;
    align-items: left;
    flex-direction: column;
    /*border: 1px solid black;*/
}
.para-1 {
    height: 17px;
}
.p2 {
    color: #FF5300;
    font-weight: bold;
}
.view-1 {
    position: relative;
    width: 100%; 
    height: 60px;
    margin-bottom: 10px;
}
@media (min-width:1024px) {
    .view-1 {
        position: relative;
        width: 100%; 
        height: 60px;
        align-items: left;
        margin-right: 275px;
        margin-bottom: 40px;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .view-1 {
        position: relative;
        width: 100%; 
        height: 60px;
        align-items: left;
    }
}
.view-4 {
    position: relative;
    width: 100%; 
    height: 45px;
    margin-bottom: 10px;
}
@media (min-width:768px) {
    .view-4 {
        position: relative;
        width: 100%; 
        height: 60px;
        align-items: left;
        margin-right: 275px;
        margin-bottom: 40px;
    }
}
.view-5 {
    position: relative;
    display: flex;
    height: 43px;
    align-items: center;
    justify-content: center; 
    /*border: 1px solid black;*/
    background-color: #FF5300;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
@media (min-width:768px) {
    .view-5 {
        position: relative;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center; 
        /*border: 1px solid black;*/
        background-color: #FF5300;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }
}
.view-2 {
    position: relative;
    width: 170px; 
    height: 60px; 
    background-color: #FF5300;
    font-size: 14px;
    font-weight: bold;
}
.view-3 {
    position: relative;
    display: flex;
    width: 160px; 
    height: 50px;
    align-items: center;
    justify-content: center; 
    /*border: 1px solid black;*/
    background-color: #FF5300;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
@media (min-width:768px) {
    .view-3 {
        position: relative;
        display: flex;
        width: 160px; 
        height: 50px;
        align-items: center;
        justify-content: center; 
        /*border: 1px solid black;*/
        background-color: #FF5300;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }
}
.place {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
@media (min-width:1024px) {
    .place {
        position: relative;
        height: 220px;
        align-items: left;
        text-align: left;
    }
}
@media (min-width:768px) and (max-width:1024px){
    .place {
        position: relative;
        height: 160px;
        align-items: left;
        text-align: left;
    }
}
.h-2 {
    width: 100%;
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 46px;
    display: flex;
    color: #1D1B19;
}
@media (min-width:768px) {
    .h-2 {
    position: absolute;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 46px;
    display: flex;

    color: #1D1B19;
}
}
.p-2 {
    position: relative;
    opacity: 0.5;
    width: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
}
@media (min-width:1024px) {
    .p-2 {
    position: absolute;
    height: 46px;
    top: 80px;
    left: 0;
    margin-top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    display: flex;
    opacity: 0.5;
    color: #1D1B19;
}
}
@media (min-width:768px) and (max-width:1024px) {
    .p-2 {
    position: absolute;
    height: 46px;
    top: 40px;
    margin-top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    display: flex;
    text-align: center;
    opacity: 0.5;
    color: #1D1B19;
}
}
.box-1 {
    position: relative;
    height: 337px;
    display: inline-block;
    margin-bottom: 10px;
    /*border: 1px solid black;*/
}
@media (min-width:768px) {
    .box-1 {
        position: relative;
        height: 337px;
        display: inline-block;
        /*border: 1px solid black;*/
    }
}
.box-1 .box-in {
    position: absolute;
    text-align: left;
    top: 75%;
    left: 10px;
    color: #fff;
    font-weight: bold;
}
@media (min-width:768px) {
    .box-1 .box-in {
        position: absolute;
        text-align: left;
        top: 75%;
        left: 10px;
        color: #fff;
        font-weight: bold;
    }
}
.stars {
    align-items: left;
    display: flex;
    position: relative;
  }
@media (min-width:768px) {
    .stars {
        align-items: left;
    } 
}
.etoile {
}
.box-1 .stars {
    position: absolute;
    text-align: left;
    top: 87%;
    left: 10px;
    font-weight: bold;
}
.text-1 {
    position: absolute;
    display: flex;
    width: 253px;
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
}
@media (min-width:768px) {
    .text-1 {
        position: absolute;
        display: flex;
        width: 15%;
        height: 42px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;
        align-items: center;
    }
}
.box-out-1 {
    display: flex;
    flex-direction: column;
    line-height : 0;
    margin-top: 50px;
    height: 70px;
    /*border: 1px solid black;*/
}
@media (min-width:768px) {
    .box-out-1 {
        display: flex;
        flex-direction: column;
        line-height : 0;
        margin-top: 70px;
        margin-bottom: 40px;
        height: 70px;
        /*border: 1px solid black;*/
    }
}
.h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    display: flex;
    opacity: 0.5;
    color: #1D1B19;
}
.stars-1 {
    margin-top: 0;
}
.next-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media (min-width:768px) {
    .next-box {
        display: flex;
        flex-direction: row;
        width: 50%;
    }
}
.next-box-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
@media (min-width:1024px) {
    .next-box-1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        /*border: 1px solid;*/
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .next-box-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        /*border: 1px solid;*/
    }
}
.next-box-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (min-width:768px) {
    .next-box-2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        /*border: 1px solid;*/
    }
}
.box-carre {
    width: 37%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    line-height: 0;
    align-items: center;
    justify-content: center;
}
@media (min-width:1024px) {
    .box-carre {
        width: 24%;
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-direction: row;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .box-carre {
        width: 30%;
        display: flex;
        flex-direction: row;
        position: relative;
    }
}
.box-island {
    display: flex;
    flex-direction: column;
}
@media (min-width:768px) {
    .box-island {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 20px;
    }
}
.box-img {
    width: 100%;
}
.img {
    display: flex;
    margin-right: 5px;
    /*border: 1px solid black;*/
}
@media (min-width:768px) {
    .img {
        display: flex;
        /*border: 1px solid black;*/
    }
}
.group-image {
    border-radius: 5px;
}
.nom {
    position: relative;
    align-items: flex-start;
    justify-content: left;
    height: fit-content;
    display: flex;
    font-size: 14px;
    width: 100%;
    font-weight: bold;
}
@media (min-width:768px) {
    .nom {
        position: relative;
        align-items: flex-start;
        justify-content: left;
        height: fit-content;
        display: flex;
        font-weight: bold;
    }
}

.footer {
    margin-top: 40px;
    width: 100%;
}
@media (min-width:768px) {
    .footer {
        margin-top: 70px;
    }
}
.p-6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    display: flex;
    opacity: 0.5;
    color: #1D1B19;
}
@media (min-width:768px) {
    .p-6 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        display: flex;
        opacity: 0.5;
        color: #1D1B19;
    }
}
.vector-2 {
    width: 404px;
}
.vector-i {
    margin-left: 20px;
}
.vector-j {
    margin-left: 20px;
    margin-right: 20px;
}
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
@media (min-width:768px) {
    .footer {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}
.foot {
    display: flex;
    width: 133px;
    height: 46px;
    font-size: 48px;
    align-items: center;
    line-height: 56px;
    font-weight: 900;
    font-style: normal;
}
.p-foot::first-letter {
    color: #FF5300;
}

.support {
    align-items: center;
}
@media (min-width:768px) {
    .support {
        width: 15%;
        margin-left: 40px;
    }
}
.link {
    align-items: center;
}
@media (min-width:768px) {
    .link {
        width: 15%;
    }
}
.numero1 {
    margin-top: 60px;
}

.suscribe {
    align-items: center;
}
@media (min-width:768px) {
    .suscribe {
        width: 20%;
        margin-left: 40px;
    }
}
.faq {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.numero-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    display: flex;
    opacity: 0.5;
    margin-left: 10px;
    color: #1D1B19;
}
.numero-5 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.about-1 {
    margin-top: 10px;
}
.a-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    display: flex;
    opacity: 0.5;
    margin-bottom: 10px;
    color: #1D1B19;
}




.text-box {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /*border: 1px solid black;*/
}
@media (min-width:1024px) {
    .text-box {
        width: 100%;
        display: flex;
        align-items: left;
        text-align: left;
        flex-direction: row;
        /*border: 1px solid black;*/
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .text-box {
        width: 100%;
        display: flex;
        align-items: left;
        text-align: left;
        flex-direction: column;
        /*border: 1px solid black;*/
    }
}

.three-box {
    display: flex;
    position: relative;
    margin-left: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /*border: 1px solid black;*/
}
@media (min-width:1024px) {
    .three-box {
        width: 70%;
        display: flex;
        position: relative;
        flex-direction: row;
        /*border: 1px solid black;*/
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .three-box {
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /*border: 1px solid black;*/
    }
}

.perfect-place {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: top;
}
.perfect-text {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
@media (min-width:768px) {
    .perfect-text {
        width: 30%;
        align-items: left;
        margin-bottom: 50px;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .perfect-text {
        width: 100%;
        align-items: left;
        margin-bottom: 50px;
    }
}
/*.experience {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1D1B19;
}*/
.box-experience {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    flex-direction: column;
}
@media (min-width:1024px) {
    .box-experience {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 85%;
        margin: auto;
        justify-content: space-between;
    }
}
@media (min-width:768px) and (max-width:1024px){
    .box-experience {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.button {
    display: flex;
}
@media (min-width:768px) {
    .button {
        margin-top: 20px;
        margin: auto;
    }
}
.small-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
@media (min-width:768px) {
    .small-icon {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;    }
}
.small-icon-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width:768px) {
    .small-icon-1 {
        flex-direction: row;
        display: flex;
    }
}

.small-carre {
    width: 100%;
    display: flex;
    flex-direction: column;
}
@media (min-width:1024px) {
    .small-carre {
        width: 100%;
        display: flex;
        margin-bottom: 30px;
        flex-direction: row;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .small-carre {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.small-1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
@media (min-width:1024px) {
    .small-1 {
        display: flex;
        width: 100%;
        position: relative;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .small-1 {
        min-width: 768px;
        display: flex;
        width: fit-content;
        position: relative;
        justify-content: center;
        flex-wrap: wrap;
    }
}
.partner {
    display: flex;
    flex-direction: row;
}
.h2-place {
    position: relative;
    text-align: center;
    align-items: center;
    margin-top: 0;
    margin: auto;
}
@media (min-width:768px) {
    .h2-place {
        text-align: left;
    }
}
.h2-place-1 {
    text-align: center;
    margin: auto;
}
@media (min-width:768px) {
    .h2-place-1 {
        text-align: left;
        margin-left: 0;
    }
}
.box-1 {
    margin-right: 10px;
}
.box-2 {
}
@media (min-width:768px) {
    .box-2 {
        width: 40%;
        margin-right: 10px;
    }
}
.ellipse-3 {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
}
@media (min-width:1024px) {
    .ellipse-3 {
        display: flex;
        position: absolute;
        width: 50px;
        height: 50px;
        margin-top: 0;
        margin-left: -35px;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .ellipse-3 {
        display: none;
        position: absolute;
        width: 50px;
        height: 50px;
        margin-top: 0;
        margin-left: -35px;
    }
}

.h-2 {
    text-align: left;
}
@media (min-width:768px) {
    .h-2 {
        margin-top: 50px;
        text-align: left;
        left: 0;
    }
}
h2 {
    text-align: center;
}
.background-main {
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: row;
}
@media (min-width:1024px) {
    .background-main {
        display: flex;
        position: relative;
        height: 500px;
        flex-direction: row;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .background-main {
        display: flex;
        position: relative;
        height: 500px;
        flex-direction: row;
    }
}
.young {
    width: 100%;
    height: auto;
    margin-bottom: 90px;
    position: absolute;
}
@media (min-width:1024px) {
    .young {
        width: 85%;
        height: auto;
        position: relative;
        margin-bottom: 0;
   }
}
@media (min-width:768px) and (max-width:1024px) {
    .young {
        width: 95%;
        height: auto;
        margin-left: 0;
        position: relative;
    }
}
.img-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (min-width:1024px) {
    .img-background {
        position: relative;
        width: 100%;
        height: 100%;
        margin-left: 67%;
        object-fit: cover;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .img-background {
        width: 80%;
        height: 100%;
        margin-left: 26%;
        object-fit: cover;
    }
}
.adventure-1 {
    position: absolute;
    display: block;
}
@media (min-width:768px) {
    .adventure-1 {
        position: absolute;
    }
}
.h-1 {
    display: block;
    align-items: center;
}
h1 {
    font-size: 22px;
}
@media (min-width:768px) {
    h1 {
        font-size: 48px;
    }
}
.main-0 {
    display: block;
    position: relative;
    height: 61vw;
}
@media (min-width:1024px) {
    .main-0 {
        position: relative;
        display: flex;
        height: 500px;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .main-0 {
        position: relative;
        display: flex;
        height: 400px;
    }
}
.main-1 {
    display: block;
    position: relative;
    height: 100%;
}
@media (min-width:768px) {
    .main-1 {
        position: relative;
        height: 600px;
    }
}

.wrapper {
    position: relative;
    /*border: 1px solid;*/
  }
@media (min-width:768px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 10px;
        height: 400px;
        margin-left: 0;
        /*border: 1px solid;*/
      }
}
  .one {
    position: relative;
    display: flex;        
    justify-content: center;
    /*border: 1px solid;*/
}
@media (min-width:768px) {
    .one {
        position: relative;
        grid-column: 1/7;
        grid-row: 1/8;
        /*border: 1px solid;*/
    }
}
  .two {
    position: relative;
    display: flex;        
    justify-content: center;
    /*border: 1px solid;*/
}
@media (min-width:768px) {
    .two {
        grid-column: 7/9;
        grid-row: 1/6;
        /*border: 1px solid;*/
    }
}
  .three {
    position: relative;
    display: flex;        
    justify-content: center;
    /*border: 1px solid;*/
}
@media (min-width:768px) {
    .three {
        grid-column: 7/9;
        grid-row: 6/8;
        /*border: 1px solid;*/
    }
}
  .four {
    position: relative;
    display: flex;        
    justify-content: center;
    /*border: 1px solid;*/
}
@media (min-width:768px) {
    .four {
        grid-column: 9/11;
        grid-row: 1/5;
        /*border: 1px solid;*/
    }
}
  .five {
    position: relative;
    display: flex;        
    justify-content: center;
    /*border: 1px solid;*/
}
@media (min-width:768px) {
    .five {
        grid-column: 9/11;
        grid-row: 5/8;
        /*border: 1px solid;*/
    }
}
  .six {
    position: relative;
    display: flex;        
    justify-content: center;
    /*border: 1px solid;*/
}
@media (min-width:768px) {
    .six {
        grid-column: 11/13;
        grid-row: 1/3;
        /*border: 1px solid;*/
    }
}
  .sept {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;        
    justify-content: center;
    /*border: 1px solid;*/
}
@media (min-width:768px) {
    .sept {
        position: relative;
        grid-column: 11/13;
        grid-row: 3/8;
        /*border: 1px solid;*/
    }
}
  .number {
    width: 80%;
    height: 50%;
    position: relative;
  }
  @media (min-width:768px) {
    .number {
        width: 100%;
        height: 100%;
      }
  }
  .number-1 {
    width: 100%;
    height: 100%;
  }
.one .box-in-1 {
    position: absolute;
    color: white;
    bottom: 30px;
    font-weight: bold;
    width: 45%;
  }
@media (min-width:768px) {
    .one .box-in-1 {
        position: absolute;
        color: white;
        left: 20px;
        width: 50%;
        bottom: 40px;
        font-weight: bold;
    }
}
/*.box-in-1 {
    display: none;
}
@media (min-width:768px) {
    .box-in-1 {
        display: flex;
    }
}*/
.one .stars-1 {
    position: absolute;
    left: 28%;
    bottom: 18px;
    font-weight: bold;
}
@media (min-width:768px) {
    .one .stars-1 {
        position: absolute;
        left: 20px;
        bottom: 25px;
        font-weight: bold;
    }
}
.miroir {
    display: grid;
    width: 70%;
    position: relative;
    margin: auto;    
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 0;
    height: 150px;
    /*border: 1px solid;*/
}
@media (min-width:768px) {
    .miroir {
        display: grid;
        width: 50%;
        grid-template-columns: repeat(29, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 0;
        margin-right: 30px;
        height: 300px;
        /*border: 1px solid;*/
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .miroir {
        display: grid;
        width: 90%;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 0;
        top: 40px;
        height: 300px;
        /*border: 1px solid;*/
    }
}
.perfect-text-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@media (min-width:1024px) {
    .perfect-text-1 {
        width: 50%;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .perfect-text-1 {
        width: 100%;
    }
}
.huit {
    grid-column: 1/5;
    grid-row: 2/7;
    /*border: 1px solid;*/
}
@media (min-width:1024px) {
    .huit {
        grid-column: 1/10;
        grid-row: 2/7;
        z-index: 1;
        /*border: 1px solid;*/
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .huit {
        grid-column: 3/10;
        grid-row: 2/6;
        /*border: 1px solid;*/
    }
}
.neuf {
    grid-column: 5/11;
    grid-row: 1/8;
    /*border: 1px solid;*/
}
@media (min-width:1024px) {
    .neuf {
        grid-column: 9/21;
        grid-row: 1/8;
        z-index: 2;;
        /*border: 1px solid;*/
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .neuf {
        grid-column: 9/18;
        grid-row: 1/7;
        z-index: 2;
        /*border: 1px solid;*/
    }
}
.dix {
    grid-column: 11/15;
    grid-row: 2/7;
    /*border: 1px solid;*/
}
@media (min-width:1024px) {
    .dix {
        grid-column: 20/30;
        grid-row: 2/7;
        /*border: 1px solid;*/
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .dix {
        grid-column: 17/25;
        grid-row: 2/6;
        /*border: 1px solid;*/
    }
}
.image-miroir {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
@media (min-width:1024px) {
    .image-miroir {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin-top: 30px;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .image-miroir {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}
.place-1 {
    position: relative;
    width: 100%;
    height: 150px;
}
@media (min-width:1024px) {
    .place-1 {
        position: relative;
        width: 600px;
        height: 220px;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .place-1 {
        position: relative;
    }
}
.h-2-1 {
    position: absolute;
    width: 100%;
    height: 60px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    display: flex;

    color: #1D1B19;
}
@media (min-width:768px) {
    .h-2-1 {
        position: absolute;
        width: 500px;
        height: 122px;
        text-align: left;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        margin-bottom: 20px;
        display: flex;
    
        color: #1D1B19;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .h-2-1 {
        position: absolute;
        height: 122px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        margin-bottom: 20px;
        display: flex;
        margin-left: 25%;
        color: #1D1B19;
    }
}
.p-2-1 {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    display: flex;
    opacity: 0.5;
    text-align: center;
    color: #1D1B19;
}
@media (min-width:1024px) {
    .p-2-1 {
        position: absolute;
        text-align: left;
        width: 350px;
        height: 60px;
        top: 110px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        display: flex;
        opacity: 0.5;
        color: #1D1B19;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .p-2-1 {
        position: absolute;
        height: 60px;
        top: 85px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        display: flex;
        opacity: 0.5;
        color: #1D1B19;
    }
}
.button-1 {
    position: relative;
    margin: auto;
    align-items: center;
}
@media (min-width:1024px) {
    .button-1 {
        width: 100%;
        position: relative;
        margin-left: 0;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .button-1 {
        width: 100%;
        position: relative;
        margin-left: 40%;
    }
}
.button-2 {
    width: 50%;
    top: 415px;

}
@media (min-width:768px) {
    .button-2 {
        width: 100%;
        position: absolute;
        top: 232px;
        margin-left: 0;
    }
}
.text-collection {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 11px;
    display: flex;
    opacity: 1;
    color: white;
}
@media (min-width:768px) {
    .text-collection {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        display: flex;
        opacity: 1;
        color: white;
    }
}
.footer-1 {
    width:100%;
}
@media (min-width:768px) {
    .footer-1 {
        width: 50%;
    }
}
.p-6-foot {
    width: 80%;
}
.box-carre-5 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-around;
}
@media (min-width:768px) {
    .box-carre-5 {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
}
